.comment {
  opacity: 0.5;
}
.comment.approved {
  opacity: 1;
}

.container1 {
  padding-top: 35px;
  text-align: center;

}

.background{
  padding-top: 35px;
  background-color: 22A2278

}

.container{
 position: center;
 text-align: center;
}

.form-group{
  display: block;
  text-align: center;
