

.comment {
  opacity: 0.5;
}
.comment.approved {
  opacity: 1;
}

.container1 {
  padding-top: 35px;
}

div.body {
    margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
    height:auto;
}

div.body img {
    width: 100%;
    height: auto;
}

.body{
  background: url(Pathway To Self Reliance.JPG);
}
.body{
  background: url(Pathway To Self Reliance.JPG) repeat-x;
}
.body{
  background: url(Pathway To Self Reliance.JPG) repeat-y;
}
