
p, h1,h2{
  font-size: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-left: 60px;
  text-align: left;
}
body {
  padding-top: 50px;
  background-color: #52A1A5;
  text-align: center;
}
form {
  align-items: baseline;
  padding-top:15%;
  padding-right: 5%;

}
.container.row {
  padding-top: 200px;

}
ol {
      padding: 20px;
      font-size: 30px;
  }
  li{
    font-size: 20px;
  }
